<app-header></app-header>
<div fxLayout="column" fxLayoutAlign="space-between">
  <div>
    <div>
      <p>LACHE LA BETE</p>
    </div>
    <video src="/assets/videos/cash_b-lache_la_bete.mp4" controls>
      <p>Votre navigateur ne supporte pas le lancement de vidéos. Vous pouvez malgré tout télécharger la vidéo gràce à ce lien : <a href="/assets/videos/cash_b-lache_la_bete.mp4">TELECHARGER</a>.</p>
    </video>
  </div>
  <div>
    <div>
      <p>JMEN FOU JMEN FOU</p>
    </div>
    <video src="/assets/videos/cash_b-jmen_fou_jmen_fou.mp4" controls>
      <p>Votre navigateur ne supporte pas le lancement de vidéos. Vous pouvez malgré tout télécharger la vidéo gràce à ce lien : <a href="/assets/videos/cash_b-jmen_fou_jmen_fou.mp4">TELECHARGER</a>.</p>
    </video>
  </div>
</div>
