<app-header></app-header>
<div class="mdl-grid width-900">
  <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp width-500">
    <div>
      <p>Conozco La Calle</p>
    </div>
    <video src="/assets/videos/cash-brolik_conozco-la-calle.webm" controls>
      <p>Votre navigateur ne supporte pas le lancement de vidéos. Vous pouvez malgré tout télécharger la vidéo gràce à ce lien : <a href="/assets/videos/cash-brolik_conozco-la-calle.webm">TELECHARGER</a>.</p>
    </video>
  </div>
  <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp width-500">
    <div>
      <p>J'm'en fou, J'm'en fou !</p>
    </div>
    <iframe width="100%" height="90%" src="https://www.youtube.com/embed/EeOe5IzVYmM"></iframe>
  </div>
  <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp width-500">
    <div>
      <p>Marginal</p>
    </div>
    <iframe width="100%" height="90%" src="https://www.youtube.com/embed/EeOe5IzVYmM"></iframe>
  </div>
  <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp width-500">
    <div>
      <p>Conozco La Calle</p>
    </div>
    <iframe width="100%" height="90%" src="https://www.youtube.com/embed/Yy3XyRSRMGo"></iframe>
  </div>
  <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp width-500">
    <div>
      <p>Cash B - Mercé (Concours D&P)</p>
    </div>
    <iframe width="100%" height="90%" src="https://www.youtube.com/embed/YpzWGsC2jbY"></iframe>
  </div>
</div>
