<app-header></app-header>
<div class="mdl-grid gridPageSecondaire">
  <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp width-500">
    <div>
      <p>Ligue 1 - Cash B</p>
    </div>
    <iframe width="100%" height="90%" src="https://www.youtube.com/embed/pz8_jyQe6w4"></iframe>
  </div>
  <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp width-500">
    <div>
      <p>Cash B - jmen fou jmen fou (Clip Officiel)</p>
    </div>
    <iframe width="100%" height="90%" src="https://www.youtube.com/embed/EeOe5IzVYmM"></iframe>
  </div>
  <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp width-500">
    <div>
      <p>Cash B // Conozco La Calle // Clip Officiel 2016 // En attendant MARGINAL</p>
    </div>
    <iframe width="100%" height="90%" src="https://www.youtube.com/embed/Yy3XyRSRMGo"></iframe>
  </div>
  <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp width-500">
    <div>
      <p>Cash B - Mercé (Concours D&P)</p>
    </div>
    <iframe width="100%" height="90%" src="https://www.youtube.com/embed/YpzWGsC2jbY"></iframe>
  </div>
</div>
