<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  (click)="redirectYoutube()"
  matTooltip="Youtube"
  matTooltipPosition="below">
  <img class="imageReseauxSociaux" src="assets/images/youtube.png" height="45" width="45">
</button>
<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  id="buttonFacebook"
  (click)="redirectFacebook()"
  matTooltip="Facebook"
  matTooltipPosition="below">
  <img class="imageReseauxSociaux" src="assets/images/facebook.png" height="35" width="35">
</button>
<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  (click)="redirectTwitter()"
  matTooltip="Twitter"
  matTooltipPosition="below">
  <img class="imageReseauxSociaux" src="assets/images/twitter.png" height="35" width="35">
</button>
<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  (click)="redirectInstagram()"
  matTooltip="Instagram"
  matTooltipPosition="below">
  <img class="imageReseauxSociaux" src="assets/images/instagram.png" height="35" width="35">
</button>
