img {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

img:hover {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#buttonFacebook {
  margin-left: 10px;
}

button {
  cursor: pointer;
  background-color: white;
  border: none;
}
