<div fxLayout="row" fxLayoutAlign="space-between">
  <button
    (click)="redirectYoutube()"
    matTooltip="Youtube"
    matTooltipPosition="below"
    fxFlex="25">
    <img src="/assets/images/youtube.png" alt="Accéder à la chaine YouTube" height="45" width="45">
  </button>
  <button
    (click)="redirectFacebook()"
    matTooltip="Facebook"
    matTooltipPosition="below"
    fxFlex="15">
    <img src="/assets/images/facebook.png" alt="Accéder au compte Facebook" height="35" width="35">
  </button>
  <button
    (click)="redirectTwitter()"
    matTooltip="Twitter"
    matTooltipPosition="below"
    fxFlex="15">
    <img src="/assets/images/twitter.png" alt="Accéder au compte Twitter" height="35" width="35">
  </button>
  <button
    (click)="redirectInstagram()"
    matTooltip="Instagram"
    matTooltipPosition="below"
    fxFlex="15">
    <img src="/assets/images/instagram.png" alt="Accéder au compte Instagram" height="35" width="35">
  </button>
</div>
