<a id="top"></a>
<div class="mdl-typography--text-center" id="couverture">
  <div class="logo-font android-slogan"></div>
  <div class="logo-font android-sub-slogan"></div>
  <div class="logo-font android-create-character"></div>
  <a href="/home#description">
    <button mat-fab color="accent" aria-label="Button to expand home page"><mat-icon>expand_more</mat-icon></button>
  </a>
</div>
<a id="description"></a>
<div class="android-customized-section" fxLayout="row" fxLayoutAlign="space-evenly">
  <img alt="Portrait Cash B" src="/assets/images/cash_brolik.jpg" id="portrait-cash-brolik" fxFlex="33">
  <div class="android-customized-section-text" fxFlex="33">
    <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Cash B</div>
    <p class="mdl-typography--font-light">Brolik ENTERTAINMENT</p>
    <p>Cash B est un jeune artiste amiénois, issu des quartiers sud de la ville, qui commence a trouver son public. Il a déjà fait ses preuves sur la toile avec plusieurs video-clips cumulant plus de 300 000 vues sur YouTube.</p>
    <p>Réussissant tout de suite à séduire un large public gràce à son style dilettante et terre a terre, capable de faire danser la foule, il aime exprimer la colère et la tristesse.</p>
    <p>Cash B est un artiste éclectique faisant sonner un rap cru au vécu bien trempé, et une pop urbaine aux textes ciselés qui osent le pari de la chanson française.</p>
    <p>Se plaçant comme en enfant du peuple en écrivant un titre qui fédère la montée en première division de l'équipe de football de sa ville natale: Amiens. Cette sortie en fanfare étant saluée par les médias de sa région comme France Télévision, le Courrier Picard ou encore SFR Sport.</p>
    <p>Cash B est actuellement en studio pour l’enregistrement de son premier album.</p>
    <hr>
    <div fxLayout="row" fxLayoutAlign="space-around">
      <app-reseaux-sociaux fxFlex="65"></app-reseaux-sociaux>
      <a href="/home#launchers" fxFlex="20">
        <button mat-fab color="accent" aria-label="Button to expand home page"><mat-icon>expand_more</mat-icon></button>
      </a>
    </div>
  </div>
</div>
<hr>
<a id="launchers"></a>
<div fxLayout="row" fxLayoutAlign="space-around">
  <mat-card fxFlex="35">
    <mat-card-header>
      <mat-card-title>MUSIQUE</mat-card-title>
      <mat-card-subtitle>Accédez à toutes nos créations</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/musique.jpg" alt="Accéder aux musiques">
    <mat-card-content>
      <p>Retrouvez et téléchargez si vous le souhaitez l'ensemble des sons réalisées par Cash B.</p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-stroked-button>CLIPS VIDEOS</button>
      <button color="primary" mat-stroked-button>TELECHARGEMENTS</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="35">
    <mat-card-header>
      <mat-card-title>SOCIAL CLUB</mat-card-title>
      <mat-card-subtitle>Prenez contact ou alors abonnez-vous à la newsletter, elle vous permettra d'être à l'affût des dernières nouvelles.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/newsletter.jpg" alt="Accéder à la section sociale">
    <mat-card-content>
      <p>C'est ici où vous pouvez parler avec Cash B d'une éventuelle colaboration.</p>
      <p>Et vous pouvez le contacter pour tout projet que vous pourriez avoir en commun avec lui.</p>
    </mat-card-content>
    <mat-card-actions class="mdl-card__supporting-text">
      <button color="accent" mat-stroked-button routerLink="/social/contact">CONTACT</button>
      <button color="primary" mat-stroked-button routerLink="/social/newsletter">NEWSLETTER</button>
      <button color="accent" mat-stroked-button routerLink="/social/map">MAP</button>
    </mat-card-actions>
  </mat-card>
</div>
  <!--
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Produits dérivés</h2>
      </div>
      <div class="mdl-card__media"><a href="index.html#"><img class="article-image" src="assets/images/example-blog02.jpg" border="0" alt=""/></a></div>
      <div class="mdl-card__supporting-text no-bottom-padding"><span><a href="/boutique.html" class="link-news">Accéder aux produits</a></span>
        <div class="icon material-icons portfolio-share-btn" id="tt2">wc</div>
        <div class="mdl-tooltip" for="tt2">Accéder aux produits</div>
      </div>
      <div class="mdl-card__supporting-text">
        <p>Réservez ici-même les produits Brolik ENTERTAINMENT et Cash B.</p>
      </div>
    </div>
  -->
  <hr>
  <div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast">More from Android</div>
    <div class="android-card-container mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="assets/images/more-from-1.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Get going on Android</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            Make the switch
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="assets/images/more-from-4.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Create your own Android character</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">Turn the little green Android mascot into you, your friends, anyone!</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            androidify.com
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="assets/images/more-from-2.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Get a clean customisable home screen</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            Download now
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="assets/images/more-from-3.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Millions to choose from</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            Find apps
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast">More from Android</div>
    <mat-card class="android-card-container mdl-grid">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Ligue 1</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            Make the switch
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </mat-card>

      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="assets/images/more-from-4.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Create your own Android character</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">Turn the little green Android mascot into you, your friends, anyone!</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            androidify.com
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="assets/images/more-from-2.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Get a clean customisable home screen</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            Download now
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="assets/images/more-from-3.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Millions to choose from</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            Find apps
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
