#footer {
  background-color: white;
}

app-reseaux-sociaux {
  color: #8BC34A;
  margin-top: 10px;
}

#btn-title {
  cursor: pointer;
  background-color: white;
  margin-top: 15px;
}

.font-white {
  color: white;
}

.fontCenter {
  text-align: center;
}

.itemCenter {
  items-align: center;
}
