#footer {
  background-color: white;
}

.linkReseauxSociaux {
  color: #8BC34A;
}

#buttonBrolikENTERTAINMENT {
  cursor: pointer;
  background-color: white;
  margin-right: 120px;
}

.gridPageSecondaire {
  width: 70%;
}

.font-white {
  color: white;
}

.fontCenter {
  text-align: center;
}

.itemCenter {
  items-align: center;
}
